
@font-face {
    font-family: 'nulshock';
    src: url("fonts\nulshock bd.ttf");
    font-weight: normal;

}
@font-face {
    font-family: 'block';
    src: url("fonts\TS Block Bold.ttf");
    font-weight: normal;
}


*{
    background-color:rgb(0, 0, 0);
    color: white; 
    font-family: 'block';

    

}
h2{
    font-size: 180px;
    font-family: 'nulshock';
    color: white;
    text-align: center;
    user-select: none;
    



}

h1{
    color: white;
    
}
body{
    height: 100vh;
    margin: 0;

}
section{
    height:100vh;
  
}
